%header#page-header
  = image_tag('logo.png', :alt => 'Park Find - City of Atlanta', :id => 'logo')
%nav#navigation{:role => "main"}
  .nav-inner
    %div{"ng-view" => ""}
%section#overview
  %form#filter{"ng-submit" => "doSearch()"}
    #form-search.form-section
      %input.form-label{:name => "q", "ng-model" => "q", :placeholder => "Search", :type => "text"}/
      %button.form-arrow{:type => "submit"}
        %span.icon-search-arrow
    #form-resources.form-section{"ng-class" => "{open: open}"}
      .form-dropdown
        %ul.amenity-list
          %li.amenity{ "ng-repeat" => "(name, amenity) in amenities" }
            %input{:name => "{{name}}", :id => "{{name}}", "ng-model" => "amenity.active", :type => "checkbox", 'ng-click' => 'amenityToggled(name)'}/
            %label{:class => "icon-{{name}}", :for => "{{name}}"} {{amenity.translation}}
      %button.form-label{"ng-click" => "open=!open", :type => "button"} Select Resources
      %button.form-arrow{"ng-click" => "open=!open", :style => "font-size: 0.5em;", :type => "button"}
        %span.icon-filter-arrow
  <google-map id="map" fit="true" center="center" draggable="true" zoom="zoom" markers="parks"></google-map>
