#intro
  %h1 Welcome! Enter location or park name and filter by desired park resources.
  %em<
    Want to make a reservation?
    %a{ :href => "https://activenet023.active.com/atlantadprca/", 'target' => '_blank' } Visit our Park Reservation Form.
  %address
    %h3 Department of Parks, Recreation &amp; Cultural Services
    %p
      233 Peachtree Street NE, Suites 1600/1700
      %br/
      Atlanta, Gerogia 30303
      %br/
      404-546-6788