#intro{"ng-show" => "showIntro"}
  %h1 Welcome! Enter location or park name and filter by desired park resources.
  %em Want to make a reservation? Visit our Park Reservation Form.
  %address
  %h3 Department of Parks, Recreation &amp; Cultural Services
  %p
    233 Peachtree Street NE, Suites 1600/1700
    = succeed "Atlanta," do
      %br/
    Gerogia 30303
  %p 404-546-6788