@import "compass/css3/transition";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/text/replacement";
@import "normalize";

$green:  #c5c87e;
$orange: #d8662d;
$cream:  #f4f2f1;
$cream-green: mix($cream, $green, 80%);
$blue:   #6493be;
$brown:  #625b52;
$black:  #403f3f;
$white:  #ffffff;
$dark-green: mix($green, $black, 80%);

@import "fonts";

html {
  font-size: 100%;
}

body {
  background-color: $cream;
  color: $black;
  font-family: "lemonde-courrier";
}

textarea, input {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

address {
  font-style: normal;
}

a, button, input {
  @include transition(linear 0.15s all);
  text-decoration: none;
}

a {
  color: $black;
}

#page-header {
  padding: 20px 10px 20px 50px;
  border-bottom: 6px solid $orange;
  background-image: url('city.png');
  background-position-x: 50%;
  background-position-y: 520px;
  background-size: 1800px;

  hgroup {
    @include hide-text;
  }
}

#navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  float: left;
  overflow-x: visible;
  overflow-y: scroll;
  margin-top: 251px;
  padding: 20px;
  width: 300px;

  .nav-inner {
    padding: 5px 0;
    background-color: $cream-green;
  }
}

#logo {
  line-height: 0;
}

#overview {
  position: absolute;
  top: 251px;
  right: 0;
  bottom: 0;
  left: 340px;
  display: block;
  border-left: 5px solid $black;
}

#filter {
  height: 50px;
}

#map {
  position: absolute;
  top: 50px;
  bottom: 0;
  display: block;
  width: 100%;
  border-top: 5px solid $black;
}

/* forms */
::-webkit-input-placeholder {
  color: $black;
}
:-moz-placeholder {
  color: $black;
}
::-moz-placeholder {
    color: $black;
}
:-ms-input-placeholder {
    color: $black;
}

#navigation {
  font-size: 1.5rem;

  h2, .index {
    font-size: 1.35rem;
  }
}

input, button {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  height: 100%;
  border: none;
  background-color: $cream;
  color: $black;
}

.park-description {
  display: block;
  color: rgba($black, 0.9);
  font-weight: 100;
  font-style: italic;
  font-size: 1rem;
}

.park-resources {
  @include clearfix;
  padding: 0;
  list-style-type: none;

  li {
    float: left;
  }
}

#form-search {
  width: 40%;
  border-right: 5px solid $black;
}

.focused .icon-search-arrow:before {
  color: $cream;
}

#form-resources {
  width: 60%;
  line-height: normal;

  [class='icon-*'] {
    margin-right: 5px;
  }
}

.form-section {
  position: relative;
  float: left;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  font-size: 1.2rem;

  input:focus {
    background: $black;
    color: $cream;
  }
}

.form-label {
  padding-right: 50px;
  width: 100%;
  text-align: left;
}

.form-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  background: transparent;
  color: $green;
  font-weight: 100;
  font-family: 'icomoon';
}

.form-dropdown {
  @include transition(background 0.15s linear);
  display: none;
  background-color: $cream;
}

.form-label:focus, .form-section.open {
  .form-label {
    background: $green;
  }

  .form-arrow {
    color: $black;
  }
}

.form-section.open .form-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  z-index: 1;
  display: block;
  background-color: $green;
  color: $cream;
  li {
    display: block;
  }
}

.form-dropdown {
  padding: 15px;
  background-color: $cream;

  input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;

    &:checked ~ label {
      background-color: $orange !important;
    }
  }

  label {
    @include transition(linear 0.15s all);
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    background-color: mix($black, $green, 10%);
    cursor: pointer;

    &:hover {
      background-color: $dark-green;
    }
  }

  ul {
    @include clearfix;
    margin: 0;
    padding: 0;
  }

  .amenity {
    display: block;
    float: left;
    margin: 0 2%;
    width: 32%;
    cursor: pointer;

    &:nth-child(3n+4) {
      clear: left;
    }

    &:nth-child(3n+1), &:nth-child(3n) {
      margin: 0;
    }
  }
}

#park-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 600;
  line-height: 1.4;


  li {
    position: relative;
    border-bottom: 2px solid rgba($brown, 0.2);

    &:last-child {
      border-bottom: none;
    }
  }

  a {
    display: block;
    padding: 5px 1px 5px 50px;

    &:hover {
      background-color: rgba($orange, 0.6);
    }
  }

  .index {
    position: absolute;
    display: inline-block;
    margin-left: -42px;
    width: 30px;
    text-align: right;
    line-height: normal;
  }

  .park-name {
    font-size: 1.3rem;
  }
}

#park-details {
  padding: 10px 12px;
  background-color: $cream-green;

  .reservation {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: $orange;
    color: $white;
    text-align: center;
    font-size: 1rem;
  }
}

#intro {
  padding: 0 10px;

  a {
    color: $orange;
  }
}

h1 {
  font-size: 1.5rem;
  line-height: 1.5;
}

#intro em {
  display: block;
  margin: 1em 0;
  color: mix($cream, $black, 50%);
  font-size: 0.8rem;
  line-height: 1.5;
}

h3 {
  margin-bottom: 0.5em;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.2;
}

#intro address {
  font-size: 0.8rem;
  p {
    color: mix($cream, $black, 50%);
  }
}

#intro .phone {
  margin-top: 1em;
}